---
import { Image } from "astro:assets";
import Squiggle from "./Squiggle.astro";

export interface Props {
  title: string;
  href: string;
  width?: 1 | 2 | 3;
  src?: string;
  alt?: string;
  style?: string;
}

const { title, href, src, alt = "", width = 1, style } = Astro.props;
---

<a
  href={href}
  style={[style, `grid-column-end: span ${width}`].filter(Boolean).join(";")}
  class={["card flex flex-col py-2", "hover:squiggle hover:text-orange-600"]
    .filter(Boolean)
    .join(" ")}
>
  <h2
    class="text-xl sm:text-3xl font-ultracondensed mb-1 transition-colors relative self-start text-shadow-sm shadow-black/30 z-10"
  >
    {title}
    <Squiggle class="absolute -top-2 -left-4 -right-4 text-white -z-1" />
  </h2>
  {
    src && (
      <Image
        inferSize
        class="flex-1 bg-black/30 object-cover overflow-hidden h-full w-full shadow-sm shadow-black/30"
        src={src}
        alt={alt}
        widths={[100, 150, 200, 300, 400, 600, 800].map((num) => num * width)}
        sizes={`(min-width: 768px) calc(min(20vw, 300px) * ${width}), calc(min(35vw, 300px) * ${width})`}
        quality="high"
      />
    )
  }
</a>
